<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-transparent" color-on-scroll="100" id="navbar-top">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']" placement="bottom">
                <span> boostIQ• </span>
            </a>
        </div>
        <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand"><a> boostIQ• </a></div>
                    <div class="col-6 collapse-close text-right">
                        <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
                            [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation"
                            type="button">
                            <i class="tim-icons icon-simple-remove"> </i>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item p-0">
                    <a class="nav-link" placement="bottom" target="_blank" (click)="goToProfile()">
                        Welcome {{ loggedUser?.email }}!
                    </a>
                </li>
                <div class="btn-wrapper">
                    <button class="btn btn-info btn-simple btn-round mr-1" type="button" (click)="logout()">
                        Logout
                    </button>
                </div>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="page-header">
        <img class="path" src="assets/img/blob.png" />
        <div class="content-center">
            <div class="row align-items-baseline col-lg-12 col-md-4"
                style="justify-content: space-evenly !important; margin-bottom: 50px;">
                <div class="col-lg-12 col-md-8">
                    <tabset class="nav-tabs-danger justify-content-center tab-subcategories">
                        <tab heading="Suggestions">
                            <div class="table-responsive" *ngIf="suggestions.length > 0">
                                <table class="table tablesorter" id="plain-table">
                                    <thead class="text-danger">
                                        <tr>
                                            <th class="header">Suggestion</th>
                                            <th class="header">Suggested by</th>
                                            <th class="header">Suggested on</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody
                                        *ngFor="let suggestion of suggestions | paginate: { itemsPerPage: 5, currentPage: p }">
                                        <tr>
                                            <td>{{ suggestion?.suggestion }}</td>
                                            <td>{{ suggestion?.suggestedBy }}</td>
                                            <td>{{ suggestion?.suggestedDate?.toMillis()| date: 'medium' }}</td>
                                            <td
                                                *ngIf="!suggestion?.accepted && !verifyIfQuestionHasAcceptedSuggestion()">
                                                <div class="btn-wrapper">
                                                    <button class="btn btn-danger btn-simple btn-round mr-1"
                                                        type="button" (click)="acceptSuggestion(suggestion)">
                                                        Accept
                                                    </button>
                                                </div>
                                            </td>
                                            <td *ngIf="suggestion?.accepted">
                                                <div class="btn-wrapper">
                                                    <button class="btn btn-info btn-simple btn-round mr-1"
                                                        type="button">
                                                        Accepted
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                            <div *ngIf="suggestions.length == 0">
                                <h3 class="text-white">
                                    This question doesn't have any suggestions yet!
                                </h3>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>