<nav class="navbar navbar-expand-lg navbar-transparent" color-on-scroll="100" id="navbar-top">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']" placement="bottom">
                <span> boostIQ• </span>
            </a>
        </div>
        <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand"><a> boostIQ• </a></div>
                    <div class="col-6 collapse-close text-right">
                        <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
                            [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation"
                            type="button">
                            <i class="tim-icons icon-simple-remove"> </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="page-header">
        <img class="path" src="assets/img/blob.png" />
        <div class="content-center">
            <div class="row align-items-baseline col-lg-12 col-md-4"
                style="justify-content: space-evenly !important; margin-bottom: 50px;">
                <div class="col-lg-12 col-md-8">
                    <tabset class="nav-tabs-danger justify-content-center tab-subcategories">
                        <tab heading="Reset password" style="display: flex; justify-content: center;">
                            <form [formGroup]="resetPassword" role="form" style="width: 30%;">
                                <div class="input-group"
                                    [ngClass]="{'has-danger': checkFieldValidity('password') != null}">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-lock-circle"> </i>
                                        </div>
                                    </div>
                                    <input class="form-control"
                                        [ngClass]="{'form-control-danger': checkFieldValidity('password') != null}"
                                        placeholder="Password" type="password" formControlName="password" />
                                    <div class="typography-line" *ngIf="checkFieldValidity('password') != null">
                                        <p class="text-danger">
                                            {{ checkFieldValidity('password') }}
                                        </p>
                                    </div>
                                </div>
                                <div class="input-group"
                                    [ngClass]="{'has-danger': checkFieldValidity('confirmPassword') != null}">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-lock-circle"> </i>
                                        </div>
                                    </div>
                                    <input class="form-control"
                                        [ngClass]="{'form-control-danger': checkFieldValidity('confirmPassword') != null}"
                                        placeholder="Confirm password" type="password"
                                        formControlName="confirmPassword" />
                                    <div class="typography-line" *ngIf="checkFieldValidity('confirmPassword') != null">
                                        <p class="text-danger">
                                            {{ checkFieldValidity('confirmPassword') }}
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </tab>
                    </tabset>
                </div>
                <div class="btn-wrapper">
                    <button class="btn btn-danger btn-simple btn-round mr-1" type="button"
                        [disabled]="!resetPassword.valid" (click)="handleResetPassword()">
                        Save
                    </button>
                    <button class="btn btn-info btn-simple btn-round mr-1" type="button" (click)="backToHome()">
                        Back to Home
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>